<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Sandbox -->
    <!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. -->
    <add key="ConsumerKey" value="" />
    <!-- Secret is generated along with the Consumer Key -->
    <add key="ConsumerSecret" value="" />
    <!-- My Settings -> Personal -> Reset My Security Token  -->
    <add key="SecurityToken" value="" />
    <!-- My Settings -> Personal -> Personal Information  -->
    <add key="Username" value="" />
    <!-- My Settings -> Personal -> Change My Password  -->
    <add key="Password" value="" />
    <!--set to true to point at a Sandbox environment (test.salesforce.com), false to point at Prod (login.salesforce.com) -->
    <add key="IsSandboxUser" value="true" />

    <!-- Prod -->
    <!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. -->
    <add key="ConsumerKey" value="" />
    <!-- Secret is generated along with the Consumer Key -->
    <add key="ConsumerSecret" value="" />
    <!-- My Settings -> Personal -> Reset My Security Token  -->
    <add key="SecurityToken" value="" />
    <!-- My Settings -> Personal -> Personal Information  -->
    <add key="Username" value="" />
    <!-- My Settings -> Personal -> Change My Password  -->
    <add key="Password" value="" />
    <!--set to true to point at a Sandbox environment (test.salesforce.com), false to point at Prod (login.salesforce.com) -->
    <add key="IsSandboxUser" value="false" />
  </appSettings>
</configuration>